@model CvSite.Models.ProjectCategory

@{
    ViewBag.Title = "CreateProjectsCategory";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Proje Kategorisi Ekle</h2>

@using (Html.BeginForm("CreateProjectsCategory", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
     
        <div class="form-group">
            @Html.Label("Kategori Adı", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.cat_adi, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.cat_adi, "", new { @class = "text-danger" })
            </div>
        </div>

      
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Kategori Ekle" class="btn btn-success" />
            </div>
        </div>
    </div>
}
