@model IEnumerable<CvSite.Models.User>

@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@if (TempData.Count > 0 && !String.IsNullOrEmpty(TempData["Message"].ToString()))
{
    @Html.Raw(TempData["Message"]);
}

<p>
    @Html.ActionLink("Yeni Üye Oluştur", "CreateUser")
</p>
<div class="table-responsive">


    <table class="table table-striped">
        <tr>
            <th>Adı</th>
            <th>Soyadı</th>
            <th>Email</th>
            <th>Telefon</th>
            <th>Şifre</th>
            <th>Kullanıcı Adı</th>
            <th>Rol</th>
            <th>Aktif</th>
            <th>İşlem</th>

        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.userAd</td>
                <td>@item.userSoyad</td>
                <td>@item.userEmail</td>
                <td>@item.userTelefon</td>
                <td>@item.userSifre</td>
                <td>@item.userKulAdi</td>
                <td>@item.userRole</td>
                <td><button type="button" value="@item.user_id" class="btn btn-@(item.userActive == true ? "success" : "danger") btn-sm">@(item.userActive == true ? "Aktif" : "Pasif")</button></td>
                <td>@Html.ActionLink("Düzenle", "EditUser", new { id = item.user_id }) | @Html.ActionLink("Sil", "DeleteUser", new { id = item.user_id }, new { onclick = "return confirm('Kullanıcı silinecek. Emin misin?');" })</td>
            </tr>
        }

    </table>
</div>
<script>
    window.onload = function () {
        $('button').on('click', function () {
            var id = $(this).val();
            $.ajax({
                url: "/Admin/UserState",
                type: 'post',
                data:{ id: id },
                dataType: 'json',
                success: function (r) {
                    location.reload();
                }
            });
        });
    };
</script>