<section id="skills" class="skills-section section-padding">
    <div class="container">
        <h2 class="section-title wow fadeInUp">Yetenekler</h2>
        <div class="row">

            @foreach (CvSite.Models.Skill item in ViewBag.skills)
            {
                <div class="col-md-6">
                    <div class="skill-progress">
                        <div class="skill-title"><h3>@item.skill_ad</h3></div>
                        <div class="progress">
                            <div class="progress-bar six-sec-ease-in-out" role="progressbar" aria-valuenow="@item.skill_oran" aria-valuemin="0" aria-valuemax="100">
                                <span>@item.skill_oran</span>
                            </div>
                        </div><!-- /.progress -->
                    </div><!-- /.skill-progress -->
                </div><!-- /.col-md-6 -->
            }
        </div><!-- /.row -->
        <div class="row more-skill text-center">
            @foreach (CvSite.Models.Skill item in ViewBag.skills)
            {
                <div class="col-xs-12 col-sm-4 col-md-2">
                    <div class="chart" data-percent="@item.skill_oran" data-color="e74c3c">
                        <span class="percent"></span>
                        <div class="chart-text">
                            <span>@item.skill_ad</span>
                        </div>
                    </div>
                </div>
            }
          
        </div>
    </div><!-- /.container -->
</section>
