<section id="works" class="works-section section-padding">
    <div class="container">
        <h2 class="section-title wow fadeInUp">Projeler</h2>
        <ul class="list-inline" id="filter">
            @foreach (CvSite.Models.ProjectCategory item in ViewBag.workKategori)
            {
                <li><a class="active" data-group="@item.cat_adi">@item.cat_adi</a></li>

            }
        </ul>
        <div class="row">
            <div id="grid">
                @foreach (CvSite.Models.Project item in ViewBag.work)
                {
                    <div class="portfolio-item col-xs-12 col-sm-4 col-md-3" data-groups='["@item.ProjectCategory.cat_adi"]'>
                        <div class="portfolio-bg">
                            <div class="portfolio">
                                <div class="tt-overlay"></div>
                                <div class="links">
                                    <a class="image-link" href="@item.pro_resim"><i class="fa fa-search-plus"></i></a>
                                    <a href="#"><i class="fa fa-link"></i></a>
                                </div><!-- /.links -->
                                <img src="@item.pro_resim" alt="image">
                                <div class="portfolio-info">
                                    <h3>@item.pro_ad</h3>
                                </div><!-- /.portfolio-info -->
                            </div><!-- /.portfolio -->
                        </div><!-- /.portfolio-bg -->
                    </div><!-- /.portfolio-item -->
                }
              
            </div><!-- /#grid -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section>
